.home {
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: left;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 550px;
  }
  
  .header-container .text{
      padding-top:200px;
  }
  .header-container .text h1{
    font-size:100px;
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
    color: #414E59;
    line-height: 48px;
    letter-spacing: 0.095em;

}
  
.header-container .text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 1px;    
    letter-spacing: 0.095em;
    color: #000000;

  }

.header-container button {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: #353E49;
    height: 70px;
    width: 250px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 60px;
  }

  .header-container button:hover {
      background-color: #000000;

  }



